# compiled output
/dist
/node_modules

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace



# 因为配置了数据库相关
.env
prisma/db

# compodoc生成的文档
documentation

# nestjs repl 历史记录
.nestjs_repl_history

# 移除swagger插件生成的类型源文件
src/metadata.ts

# 图片上传临时文件目录
/static

uploadTemp/

prisma/docs/