#chat-container {
  position: relative;
  margin: 20px;
  display: flex;
  flex-direction: row;
  width: 800px;
  height: 600px;
}

#chat-container .chat-room-list {
  width: 150px;
  border: 1px solid #000;
  overflow-y: auto;
}

#chat-container .chat-room-item {
  line-height: 50px;
  padding-left: 20px;
  border: 1px solid #000;
  cursor: pointer;
}

#chat-container .chat-room-item:hover,
#chat-container .chat-room-item.selected {
  background: lightgreen;
}

#chat-container .message-list {
  border: 1px solid #000;
  flex: 1;
  overflow-y: auto;
  height: calc(100% - 100px);
  border-bottom: 0;
}

#chat-container .message-list .message-item {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}

#chat-container .message-list .message-item .message-sender {
  width: 100%;
}

#chat-container .message-list .message-item .message-sender img {
  width: 20px;
  height: 20px;
  padding-right: 10px;
}

#chat-container .message-list .message-item .message-content {
  border: 1px solid #000;
  width: max-content;
  padding: 10px 20px;
  border-radius: 4px;
  background: skyblue;
}

#chat-container .message-list .message-item {
  text-align: left;
}

#chat-container .message-list .message-item.from-me {
  text-align: right;
  justify-content: right;
}

#chat-container .message-list .message-item.from-me .message-content {
  text-align: right;
  justify-content: right;
  background: #fff;
}

#chat-container .message-input {
  width: 648px;
  border: 1px solid #000;
  height: 100px;
  position: absolute;
  bottom: 0;
  right: 0;
}

#chat-container .message-input .message-type {
  display: flex;
}

#chat-container .message-input .message-type .message-type-item {
  width: 100px;
}

#chat-container .message-input .message-type .message-type-item:hover {
  font-weight: bold;
  cursor: pointer;
}

#chat-container .message-input .message-input-area {
  width: 650px;
  display: flex;
}

#chat-container .message-input .message-input-area .message-send-btn {
  width: 50px;
  height: 50px;
}
