@import "tailwindcss/theme";
@import "tailwindcss/utilities";

@plugin "daisyui";
@plugin "@tailwindcss/typography";

/* 简化的重置css样式 */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  margin: 0 !important;
  padding: 0 !important;
}
